@media (max-width: 768px) {
    #menu {
      background-color: rgba(0, 0, 0, 0.9); /* Dark background for mobile menu */
      position: absolute;
      top: 100%; /* Below the header */
      left: 0;
      right: 0;
      padding: 1rem;
      z-index: 1000;
    }

    #menu a {
      display: block;
      padding: 0.5rem 0;
      color: white;
      text-align: center;
    }
}

html {
    scroll-behavior: smooth;
}

.blog-container h1 {
  color: #080808; /* Tailwind red-700 */
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.blog-container h2 {
  color: #080808;; /* Tailwind blue-700 */
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.blog-container a {
  color: #1d4ed8; /* Tailwind blue-700 */
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.blog-container p {
  margin-top: 2rem;
  margin-bottom: 1rem;
}