---
layout: default
---

<main class="container mx-auto px-4 py-6 blog-container">


    <h1>{{ page.title }}</h1>

    {% if page.alt.url and page.alt.lang %}
    <section class="text-center">
        <a href="{{ page.alt.url }}">👉
            {% if page.alt.lang == 'zh-hk' %}中文版{% else %}English Version{% endif %}
        </a>
    </section>
    {% endif %}

    {{ content }}

    {% if page.lang == 'en' %}
    <section class="text-center py-6">
        <a href="/enroll.html">Enroll Now</a>
        | 
        <a href="/blog">More Articles</a>
        |
        <a href="/">Back to Home</a>
    </section>
    {% endif %}
    {% if page.lang == 'zh-hk' %}
    <section class="text-center">
        <a href="/enroll.html">報名</a>
        | 
        <a href="/blog">更多文章</a>
        |
        <a href="/">返回主頁</a>
    </section>
    {% endif %}
</main>
